{% extends 'RayoMakuin/base.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="es">

<head>
    <title>{% block title %} Solicitud Servicio {% endblock %}</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    links de bootstrap5
    {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}

</head>

<body>
    {% block content %}
    <link rel="stylesheet" type="text/css" href="{% static '../static/RayoMakuin/CSS/styleLogin.css' %}">

    <main class="container">
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <h1>Detalle Servicio</h1>
                {{error}}
                <div>
                    <form method="POST">
                        {% csrf_token %}
                        {{form.as_p}}
    
                        <button type="submit" class="btn btn-primary">
                            Actualizar
                        </button>
                    </form>
                    <br>
                    <form action="{% url 'registroListo' registro.id %}" method="POST">
                        {% csrf_token %}
    
                        <button type="submit" class="btn btn-secondary">
                            Completar
                        </button>
                    </form>
                    <br>
                    <form action="{% url 'EliminarRegistro' registro.id %}" method="POST">
                        {% csrf_token %}
    
                        <button type="submit" class="btn btn-danger">
                            Eliminar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </main>
    <br>
    {% endblock %}
</body>

</html>